<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>cregister</servlet-name>
        <servlet-class>com.railway.servlet.cregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlogin</servlet-name>
        <servlet-class>com.railway.servlet.userlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register_admin</servlet-name>
        <servlet-class>com.railway.servlet.register_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>com.railway.servlet.admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtrain</servlet-name>
        <servlet-class>com.railway.servlet.addtrain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alltrain</servlet-name>
        <servlet-class>com.railway.servlet.alltrain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booknow</servlet-name>
        <servlet-class>com.railway.servlet.booknow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cregister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlogin</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register_admin</servlet-name>
        <url-pattern>/adminregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtrain</servlet-name>
        <url-pattern>/addtrain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alltrain</servlet-name>
        <url-pattern>/alltrain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booknow</servlet-name>
        <url-pattern>/booknow</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
